:root {
    --gray-background: rgb(223, 220, 220);
    --sidebar-image-size: 15px;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    border: 1px solid black;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas:
        "search top-right"
        "bottom-left buttons";
}

.header-search {
    grid-area: search;
    padding-left: 50px;
}

.header-search > button {

}

.header-search > input {
    background-color: var(--gray-background);
    border-radius: 16px;
    border: none;
}

.header-top-right {
    grid-area: top-right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 50px;
}

.header-top-right > button {

}

.header-top-right > img {
    height: 25px;
    width: 25px;
}

.header-top-right > span {

}

.header-bottom-left {
    grid-area: bottom-left;
    display: grid;
    grid-template: 1fr 1fr / 50px auto;
    grid-template-areas:
        "image greeting"
        "image name";
    padding-left: 50px;
}

.header-bottom-left > img {
    grid-area: image;
    height: 50px;
    width: 50px;
    align-self: center;
}

.greeting {
    grid-area: greeting;
    margin-bottom: 0;
}

.name {
    grid-area: name;
    margin-top: 0;
}

.header-buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 50px;
}

.header-buttons > button {
    width: 75px;
    border-radius: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar {
    border: 1px solid black;
    background-color: chocolate;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    padding-top: 25px;
    padding-left: 10px;
}

.link-container {
    display: grid;
    grid-template: 1fr / 25px auto;
    gap: 5px;
}

.link-container img {
    height: 15px;
    width: 15px;
}
.content {
    border: 1px solid black;
    background-color: blueviolet;
    grid-area: content;
    display: grid;
    grid-template: auto 1fr / 3fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
}

.projects-container {
    grid-area: projects;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.card {
    height: 250px;
    display: flex;
    flex-direction: column;
}

.card-title {
    height: 25px;
    justify-self: flex-start;
    padding-top: 25px;
}

.card-content {
    height: 150px;
    justify-self: stretch;
}

.card-images {
    height: 25px;
    justify-self: flex-end;
    padding:bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}
.announcements-container {
    grid-area: announcements;
}

.announcements {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.announcement {
    height: 150px;
    display: flex;
    flex-direction: column;
}

.announcement > p {
    margin: 0;
}

.trending-container {
    grid-area: trending;
}

.trending-header {

}

.trending-users {
    display: flex;
    flex-direction: column;
}

.user-card {
    display: grid;
    grid-template: 1fr 1fr / 15px auto;
    grid-template-areas:
        "user-image user"
        "user-image title";
}

.user-card > img {
    grid-area: user-image;
    height: 15px;
    width: 15px;
    align-self: center;
}

.user-card > .user {
    margin-bottom: 0;
}

.user-card > .title {
    margin-top: 0;
}