:root {
    --gray-background: rgb(223, 220, 220);
    --sidebar-image-size: 15px;
    --main-color: #6A577B;
    --second-color: #b1b8da;
    --contrasting-color: #519DBB;
    --light-color: #F5F5F5;
    --dark-background-color: #1D1F28;
    --shadow-color: rgb(145, 145, 145);

}

body {
    background-color: var(--dark-background-color);
    margin: 0;
}
.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    height: 100vh;
    width: min(100vw, 60vw + 400px);
    margin: auto;
}

.header {
    grid-area: header;
    background-color: var(--light-color);
    box-shadow: 0px 7px 5px -5px var(--shadow-color);
    z-index: 10;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas:
        "search top-right"
        "bottom-left buttons";
}

.header-search {
    grid-area: search;
    padding-left: 50px;
}

.header-search > button {

}

.header-search > input {
    background-color: var(--gray-background);
    border-radius: 16px;
    border: none;
}

.header-top-right {
    grid-area: top-right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 50px;
}

.header-top-right > button {

}

.header-top-right > img {
    height: 25px;
    width: 25px;
}

.header-top-right > span {

}

.header-bottom-left {
    grid-area: bottom-left;
    display: grid;
    grid-template: 1fr 1fr / 50px auto;
    grid-template-areas:
        "image greeting"
        "image name";
    padding-left: 50px;
}

.header-bottom-left > img {
    grid-area: image;
    height: 50px;
    width: 50px;
    align-self: center;
}

.greeting {
    grid-area: greeting;
    margin-bottom: 0;
}

.name {
    grid-area: name;
    margin-top: 0;
}

.header-buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 50px;
}

.header-buttons > button {
    width: 75px;
    border: none;
    border-radius: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--main-color);
    color: var(--light-color);
}

.sidebar {
    background-color: var(--main-color);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
    padding-top: 25px;
    padding-left: 10px;
    color: var(--light-color);
}

.link-container {
    display: grid;
    grid-template: 1fr / 25px auto;
    gap: 5px;
}

.link-container img {
    height: 15px;
    width: 15px;
}
.content {
    background-color: var(--second-color);
    grid-area: content;
    display: grid;
    grid-template: auto 1fr / 3fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
}

.projects-container {
    grid-area: projects;
    margin: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--light-color);
    height: 200px;
    display: flex;
    flex-direction: column;
    border-left: 10px solid var(--contrasting-color);
    border-radius: 12px;
    box-shadow: 5px 7px 5px 0px var(--shadow-color);
}

.card-title {
    height: 25px;
    justify-self: flex-start;
    padding-top: 25px;
}

.card-content {
    height: 150px;
    justify-self: stretch;
}

.card-images {
    height: 25px;
    justify-self: flex-end;
    padding:bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}
.announcements-container {
    grid-area: announcements;
    margin: 15px;
}

.announcements {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: var(--light-color);
    border-radius: 12px;
    box-shadow: 5px 7px 5px 0px var(--shadow-color);
}

.announcement {
    height: 150px;
    display: flex;
    flex-direction: column;
}

.announcement > p {
    margin: 0;
}

.trending-container {
    grid-area: trending;
    margin: 15px;
}

.trending-header {

}

.trending-users {
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    border-radius: 12px;
    box-shadow: 5px 7px 5px 0px var(--shadow-color);
}

.user-card {
    display: grid;
    grid-template: 1fr 1fr / 15px auto;
    grid-template-areas:
        "user-image user"
        "user-image title";
}

.user-card > img {
    grid-area: user-image;
    height: 15px;
    width: 15px;
    align-self: center;
}

.user-card > .user {
    margin-bottom: 0;
}

.user-card > .title {
    margin-top: 0;
}